.out{
    border-radius: 10px;
    background-color: #E8F9FF;
    width: 150px;
    margin: 10px;
    
}.in{
    padding-left: 7px;
    width:70px ;
    background-color: #16404D;
    border-radius: 10px;
    color: #E5E1DA;

}.in1{
    padding-left: 7px;
    width:100px ;
    background-color: #803D3B;
    border-radius: 10px;
    color: #E5E1DA;

}.in2{
    padding-left: 7px;
    width:90px ;
    background-color: #DF6D14;
    border-radius: 10px;
    color: #E5E1DA;

}.in3{
    padding-left: 7px;
    width:50px ;
    background-color: #bd781e;
    border-radius: 10px;
    color: #09122C;

}.in4{
    padding-left: 7px;
    width:20px ;
    background-color: #803D3B;
    border-radius: 10px;
    color: #09122C;

}section{
    padding: 20px;
    text-align: justify;
    letter-spacing: 2px;
    justify-content: center;
    box-shadow: 2px 2px 8px black;
    border-radius: 10px;
    
}
footer{
    display:none ;
    bottom: 0;
    position: fixed;
    text-align: center;
    background-color: #fff;
    width: 100%;
    color: #000;
    padding: 20px 0 20px 0;
    
}
body{
    margin: 0;
    background-color: #fff;
    color:#000;
}
a{
    text-decoration: none;
    color:#000;
    
}
nav{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
button{
    margin: 0;
    padding: 0;
    border: none;
   padding: 5px;
    font-size: 16px;
    background-color: #fff;
    color:#000;
}
@media (max-width : 400px) {
    section{
        font-size:0.89rem;
    }

}
.container{
    padding-left: 50px ;
    padding-right: 50px;
}
@media (min-width :810px) {
    .container{
        width: 810px;
    }
    body{
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    .skil{
        padding-left: 38%;
        padding-right: 38%;
        padding-top: 10px;
    }
    #major{

        text-align: center;
        box-shadow: 2px 2px 8px black;
        border-radius: 10px;
        padding: 15px 20px 15px 20px;
        display: none;
    }
    
}


    .skil{
        padding-top: 10px;
        padding-left: 38%;
        padding-right: 38%;
    }

    @media (max-width:600px) {
       
        .skil{
            padding-top: 10px;
            padding-left: 30%;
            padding-right: 38%;
        }
        
    }
    @media (max-width:480px) {
       
        .skil{
            padding-top: 10px;
            padding-left: 20%;
            padding-right: 38%;
        }
        
    }
    .box{
        margin-bottom: 30px;
    }
    h2{
        text-decoration:underline;
        text-align: center;
    }
    #mini{
        
        justify-content: center;
        box-shadow: 2px 2px 8px black;
        border-radius: 10px;
        height: 50px;
        padding: 15px 20px 15px 20px;
        display: none;
    }
    #same{
        text-align: center;
    }
#btn1{
    border: 1px solid black;
    border-radius: 13px;
}
#btn2{
    border: 1px solid black;
    border-radius: 13px;
}
    
